body{background-color: #E3FEFF;
	margin: 50px;
text-align: center;
font-family: "pacifico", cursive;}
h1{color:#0B55A8;
font-size:90px;
font-family: "Bebas Neue", serif;
font-size: 20px}
h2{border: 2px solid #0B55A8;
padding: 20px;
background-color: #62ACFF}
p{color: #FF8E41;
	font-style: ;}